[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/ethregistrar"]
	path = lib/ethregistrar
	url = https://github.com/ensdomains/ethregistrar
[submodule "lib/contracts"]
	path = lib/contracts
	url = https://github.com/fx-portal/contracts
[submodule "lib/fx-portal"]
	path = lib/fx-portal
	url = https://github.com/fx-portal/contracts
